body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #87CEEB;
}

h1 {
    color: #333;
    font-size: 24px; /* Example font size for h1 */
}

p {
    font-size: 16px; /* Example font size for paragraphs */
}

input, button {
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
}
 
