body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}

h1 {
    color: #333;
}

input, button {
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
}

